# Copyright (c) TigardHighGDC
# SPDX-License SPDX-License-Identifier: Apache-2.0

[submodule "Assets/AstarPathfindingProject"]
	path = Assets/AstarPathfindingProject
	url = https://github.com/TigardHighGDC/AstarPathfindingProject.git

[submodule "Assets/Unity-Reorderable-List"]
	path = Assets/Unity-Reorderable-List
	url = https://github.com/cfoulston/Unity-Reorderable-List.git

[submodule "Assets/DOTWeen"]
	path = Assets/DOTWeen
	url = https://github.com/TigardHighGDC/DOTWeen.git

[submodule "Assets/com.unity.uiextensions"]
	path = Assets/com.unity.uiextensions
	url = https://github.com/TigardHighGDC/com.unity.uiextensions.git

[submodule "Assets/TextMesh-Pro"]
	path = Assets/TextMesh-Pro
	url = https://github.com/TigardHighGDC/TextMesh-Pro.git

[submodule "Assets/game-icons.net"]
	path = Assets/game-icons.net
	url = https://github.com/TigardHighGDC/game-icons.net.git
